@model GameLookup.Models.SearchModel

@{
    ViewBag.Title = "Search";
}

@using(Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <div class="center-block" style="width: 375px; margin-top:40px">
        <div class="row" style="margin-bottom:5px;">
            <div class="col-md-12">
                Search for a game
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="input-group">
                    @Html.TextBoxFor(m => m.Query, new {@class = "form-control"})

                    <span class="input-group-btn">
                        <input type="submit" value="Search" class="btn btn-success">
                    </span>
                </div>
            </div>
        </div>
    </div>
}

   

